.main-navbar {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(56, 68, 85, 0.1) 0px 12px 18px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  position: fixed;
  z-index: 100;
  width: 90%;
  height: 80px;
  padding: 12px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.logo img {
  max-height: 50px;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.links a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}
.nav .links a :hover{
  color: blue;
}

.subscribe-navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background: linear-gradient(90deg, rgb(0, 144, 255) 0%, rgb(54, 218, 233) 100%);
  width: 10.375rem;
  height: 3.625rem;
  border: none;
  font-weight: bold;
  font-size: 15px;
  
}

.subscribe-navbar:hover {
  background-color: #0056b3;
  color: white;
}
.subscribe-navbar-mobile-view{
  border-radius: 10px;
  border: none;
  background-color: white;
}
@media (min-width: 901px) 
{
  .subscribe-navbar-mobile-view{
    display: none;
  }
}
@media (max-width: 900px)
{
  .links a
  {
    display: none;
  }
  .subscribe-navbar{
    display: none;
  }
  .main-navbar{
    width: 90%;
    height: 50px;
  }
 
}
@media (max-width: 760px)
{
  .links a
  {
    display: none;
  }
  .subscribe-navbar{
    display: none;
  }
  .main-navbar{
    margin-left: 300px;
  }
 
}
@media (max-width: 570px)
{
  .navbar nav{
     width: 50%;
  }
  .links a
  {
    display: none;
  }
  .subscribe-navbar{
    display: none;
  }
  .main-navbar{
    margin-left: 135px;
  }
 
}
